.add-asmt-button {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  cursor: pointer;

  font-family: Source Sans Pro, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;

  text-align: right;
  text-transform: uppercase;

  color: #39C2D7;
}
