.assessment-item {
  display: grid;
  grid-template-columns: 40px 1fr 40px;

  height: 40px;
  background: #FFFFFF;

  border: 1px solid #CCCCCC;
  border-left: 5px solid #39C2D7;

  margin-bottom: 10px;

  .item-title {
    display: grid;
    align-items: center;
  }
}
